/* Global styles */
html {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: black;
  color: lime;
  font-family: "Courier New", Courier, monospace;
}

.container {
  padding: 0px;
}

.line-divider {
  border-bottom: 1px solid lime;
  margin: 10px 0;
  box-shadow: 0 0 5px lime, 0 0 10px lime;
}

/* Header styles */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0px;

  h1 {
    margin: 0;
    text-shadow: 0 0 2px lime, 0 0 4px lime;
  }

  .button-group {
    button {
      margin-left: 10px;
    }
  }
}

/* Carousel styles */
.carousel {
  &__slide--sliding {
    transition: 0.5s;
  }
  &__icon {
    filter: blur(1px);
    color: lime;
    &:hover {
      filter: blur(0px);
      transition: background-color 0.5s, text-shadow 0.5s, box-shadow 0.5s;
    }
  }

  &__viewport {
    perspective: 2000px;
  }

  &__track {
    transform-style: preserve-3d;
  }

  &__slide {
    opacity: 0.9;
    transform: rotateY(0deg) scale(0.9);

    &--prev {
      opacity: 1;
      transform: rotateY(-10deg) scale(0.95);
    }

    &--next {
      opacity: 1;
      transform: rotateY(10deg) scale(0.95);
    }

    &--active {
      opacity: 1;
      transform: rotateY(0) scale(1);
    }
  }

  &__next,
  &__prev {
    position: absolute;
    color: lime;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: 0 0 2px lime, 0 0 4px lime;
    text-shadow: 0 0 2px lime, 0 0 4px lime;
    size: 200px;
    cursor: pointer;
    transition: background-color 0.5s, text-shadow 0.5s, box-shadow 0.5s;
    filter: blur(1px);
    &:hover {
      filter: blur(0px);
    }
  }
  &__next {
    right: 8%;
    top: 50%;
  }

  &__prev {
    left: 8%;
    top: 50%;
  }
}

/* Button styles */
.button {
  background-color: lime;
  border: none;
  color: black;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  font-family: "Courier New", Courier, monospace;
  text-shadow: 0px 0px 2px rgba(0, 255, 0, 0.4);
  box-shadow: 0 0 3px lime, 0 0 6px lime;
  transition: background-color 0.5s, text-shadow 0.5s, box-shadow 0.5s;

  &:hover {
    background-color: #00810b;
    text-shadow: 0px 0px 5px rgba(0, 255, 0, 0.7);
    box-shadow: 0 0 5px #00810b, 0 0 10px #00810b;
  }
}

/* Product list styles */
.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 0px;
}

.card {
  border: 1px solid lime;
  background-color: black;
  padding-left: 30px;
  padding-right: 30px;
  position: relative;
  box-shadow: 0 0 1px lime, 0 0 2px lime;
}

.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  border-radius: 10px;
  padding-top: 10px;
  margin-top: 30px;
  margin-left: 5px;
  margin-right: 5px;
  position: relative;
}

.card-title,
.card-attribute,
.card-price {
  margin-bottom: 10px;
  text-shadow: 0 0 2px lime, 0 0 0px lime;
}

.delete-checkbox {
  position: absolute;
  top: 10px;
  left: 10px;
  color: lime;
}
.delete-checkbox:checked:before {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: lime;
}

.card-title {
  font-weight: bold;
  margin-bottom: 5px;
}

.card-price {
  margin-bottom: 5px;
}

.card-attribute {
  margin-bottom: 5px;
}

/* Add product styles */
.select-type {
  margin-bottom: 20px;
}

.dynamic-form {
  border: 1px solid lime;
  padding: 20px;
  margin-bottom: 20px;
  background-color: black;

  .form-description {
    margin-top: 10px;
  }
}
.input-group {
  margin-bottom: 10px;

  label {
    display: block;
    margin-bottom: 5px;
  }

  input {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    background-color: black;
    color: lime;
    border: 1px solid lime;
  }
}
