/* Global styles */
html {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #ffffff;
  color: #000000;
  font-family: "Courier New", Courier, monospace;
}

.container {
  padding: 0px;
  border: 1px solid #000000;
  padding: 5px;
  box-shadow: 0 0 2px #000000, 0 0 4px #000000;
}

.line-divider {
  border-bottom: 1px solid #000000;
  margin: 10px 0;
  box-shadow: 0 0 5px #000000, 0 0 10px #000000;
}

/* Header styles */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0px;
  margin-top: 5px;
  height: 30px;

  h1 {
    margin: 0;
    text-shadow: 0 0 2px #000000, 0 0 4px #000000;
  }

  .button-group {
    button {
      margin-left: 10px;
    }
  }
}

.footer {
  padding-top: 10px;
  text-align: center;
  text-shadow: 0 0 2px #000000, 0 0 4px #000000;
  padding-bottom: 15px;
}

/* Carousel styles */
.carousel {
  &__slide--sliding {
    transition: 0.5s;
  }
  &__icon {
    filter: blur(1px);
    color: #000000;
    &:hover {
      filter: blur(0px);
      transition: background-color 0.5s, text-shadow 0.5s, box-shadow 0.5s;
    }
  }

  &__viewport {
    perspective: 2500px;
  }

  &__track {
    transform-style: preserve-3d;
  }

  &__slide {
    opacity: 0.9;
    transform: rotateY(0deg) scale(0.9);

    &--prev {
      opacity: 1;
      transform: rotateY(-10deg) scale(0.95);
    }

    &--next {
      opacity: 1;
      transform: rotateY(10deg) scale(0.95);
    }

    &--active {
      opacity: 1;
      transform: rotateY(0) scale(1);
    }
  }

  &__next,
  &__prev {
    position: absolute;
    color: #000000;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: 0 0 2px #000000, 0 0 4px #000000;
    text-shadow: 0 0 2px #000000, 0 0 4px #000000;
    size: 200px;
    cursor: pointer;
    transition: background-color 0.5s, text-shadow 0.5s, box-shadow 0.5s;
    filter: blur(1px);
    &:hover {
      filter: blur(0px);
    }
  }
  &__next {
    right: 8%;
    top: 50%;
  }

  &__prev {
    left: 8%;
    top: 50%;
  }
}

/* Button styles */
.button {
  background-color: #000000;
  border: none;
  color: #ffffff;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  font-family: "Courier New", Courier, monospace;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 3px #000000, 0 0 6px #000000;
  transition: background-color 0.5s, text-shadow 0.5s, box-shadow 0.5s;

  &:hover {
    background-color: #808080;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 5px #808080, 0 0 10px #808080;
  }
}
/* Product list styles */
.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 0px;
  padding-bottom: 10px;
}

.card {
  border: 1px solid #ffffff;
  background-color: #00000025;
  padding-left: 30px;
  padding-right: 30px;
  position: relative;
  box-shadow: 0 0 1px #ffffff, 0 0 2px #ffffff;
}

.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  border-radius: 10px;
  padding-top: 10px;
  margin-top: 30px;
  margin-left: 5px;
  margin-right: 5px;
  position: relative;
}

.card-title,
.card-attribute,
.card-price {
  margin-bottom: 10px;
  text-shadow: 0 0 2px #ffffff, 0 0 0px #ffffff;
}

.delete-checkbox {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #ffffff;
}
.delete-checkbox:checked:before {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #ffffff;
}

.card-title {
  font-weight: bold;
  margin-bottom: 5px;
}

.card-price {
  margin-bottom: 5px;
}

.custom-checkbox {
  width: 16px;
  height: 16px;
  border: 2px solid #ffffff;
  cursor: pointer;
  position: absolute;
  top: 10px;
  left: 10px;
  transition: background-color 0.5s, border-color 0.5s;

  &:hover,
  &.checked {
    border-color: #808080;
    box-shadow: 0 0 5px #808080, 0 0 10px #808080;
  }

  &.checked {
    background: #ffffff;

    &::before,
    &::after {
      opacity: 1;
    }
  }
}

.card-attribute {
  margin-bottom: 5px;
}

/* Add product styles */
.add-container {
  padding: 0px;
  border: 1px solid #ffffff;
  padding: 5px;
  box-shadow: 0 0 2px #ffffff, 0 0 4px #ffffff;
  max-width: 90%;
  margin: 0 auto;

  @media (min-width: 768px) {
    max-width: calc(100% / 3);
  }
}

.dynamic-form {
  padding: 5px;
  margin-bottom: 10px;
  background-color: #00000025;

  .form-description {
    margin-top: 10px;
  }
}

.input-group {
  margin-top: 10px;

  label {
    display: block;
  }

  input {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    background-color: #00000025;
    color: #000000;
    border: 1px solid #ffffff;
    font-family: "Courier New", Courier, monospace;
    cursor: pointer;

    &:focus,
    &:focus-visible {
      border-color: #808080;
      box-shadow: 0 0 5px #808080, 0 0 10px #808080;
      outline: none;
    }

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus {
      -webkit-text-fill-color: #ffffff;
      -webkit-box-shadow: 0 0 0px 1000px #000000 inset;
      transition: background-color 5000s ease-in-out 0s;
      border-color: #808080;
      box-shadow: 0 0 5px #808080, 0 0 10px #808080;
    }
  }
}

.description {
  text-shadow: 0 0 2px #ffffff, 0 0 4px #ffffff;
  padding-top: 4px;
}

.blink {
  animation: blink 2s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

select {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  background-color: #00000025;
  color: #000000;
  border: 1px solid #ffffff;
  font-family: "Courier New", Courier, monospace;
  cursor: pointer;
  position: relative;

  option {
    background-color: #000000;
    color: #ffffff;
  }

  &:hover,
  &:focus,
  &:focus-visible {
    border-color: #808080;
    box-shadow: 0 0 5px #808080, 0 0 10px #808080;
    outline: none;
  }
}

.select-type {
  margin-top: 10px;
  margin-bottom: 10px;
}

.error {
  border-color: red !important;
  box-shadow: 0 0 5px red, 0 0 10px red !important;
}

.error-message {
  color: red;
  text-shadow: 0 0 2px red, 0 0 4px red;
  animation: blink 2s infinite;
  padding-top: 4px;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.delete {
  text-shadow: 0 0 2px red, 0 0 4px red;
  color: red;
}
